/*google fonts import*/
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');

body {
    background-color: #2c2a2a;
    max-width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 15%;
    font-family: Kanit, sans-serif;
}

.page-header {
    text-align: center;
    color: grey;
    font-family: Kanit, sans-serif;
    font-weight: bold;
}

.title {
    text-align: center;
    color: white;
    font-family: Kanit, sans-serif;
    font-weight: bold;
    font-size: 250%;
}

.title2 {
    text-align: center;
    color: #c5bebe;
    font-family: Kanit, sans-serif;
    font-weight: bold;
    font-size: 150%;
}

.active {
    color: #f3ecec;
}

.navbar {
    font-family: Kanit, sans-serif;
    display: flex;
    justify-content: space-around;
}

nav a {
    color: #c3bbbb;
    text-decoration: none;
    transition: all 0.4s linear;
}

nav>a:hover {
    color: #9087b0
}

.intro {
    text-align: center;
    color: white;
}

.intro-text {
    color: white;
    text-align: center;

}

.container {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: space-around;
}

img {
    max-height: 400px;
    max-width: 80%;
    margin-bottom: 20px;
}

.text-box {
    flex: 1;
    margin-left: 20px;
}

/*About page styling*/
p {
    font-size: 20px;
    line-height: 1.5;
    color: #bab5b5;
    background-color: #1d1b1b;
    box-shadow: 5px 5px 0px #3a3a3a;
    border-radius: 10px;
    padding: 10px 10px;
}

.iframe {
    position: relative;
    margin: 0 auto;
}

.mma-block {
    display: flex;
    justify-content: space-between;
    gap: 10%;
}

.fishing-block {
    display: flex;
    justify-content: space-between;
    gap: 10%;
}

.wta-block {
    display: flex;
    justify-content: space-between;
    gap: 10%;
}

.soundcloud-block {
    display: flex;
    justify-content: space-between;
    gap: 10%;
}

#contact-form {
    color: #ffffff;
    background-color: rgba(60, 60, 60, 0.6);
    padding: 30px;
}


#contact-form>h2 {
    color: #fafafa;
    margin-bottom: 20px;
}


.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
    padding: 0 5px;
}

footer {
    font-family: Kanit, sans-serif;
    text-align: center;
    color: white;
    padding-top: 1%;
    padding-bottom: 0%;
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%;
    background-color: #1d1b1b;
}

footer>p {
    color: #d0c8c8;
    font-size: 80%;
}

.footer-p {
    font-size: 20px;
    line-height: 1.5;
    color: #bab5b5;
    background-color: #1d1b1b;
    padding: 10px 10px;
}

.social-icons {
    display: flex;
    justify-content: space-around;
    font-size: 150%;
}

.fa-brands {
    color: #ddd9d9;
    transition: all 0.4s linear;
}

.fa-brands:hover {
    color: #9999b8;
}

span {
    color: #e8e3e3;
    font-size: 90%;
}